<style>
    .jumbotron{
        width:100%;
        height:100%;
        border-radius: 0%;
        background: #333;
    }
    a{
        color:white;
    }
    .blog{
        margin-top:10%;
    }
    @media(max-width:550px){
        .blog{
            margin-top: 40%;
        }
    }
   
</style>

  <nav class="navbar navbar-expand-lg fixed-top ">
  <div class="container-xl">
    <a href="/">
    <img src="logo.jpg" class="img" alt="">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <img src="https://img.icons8.com/android/34/00000/menu.png" id="hamburger"/>
      </span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample07XL" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="" href="/">Početna </a>
        </li>
        <li class="nav-item">
          <a class="" href="/about">O nama</a>
        </li>
        <li class="nav-item">
          <a class="" href="/gallery">Galerija</a>
        </li>
        <li class="nav-item">
          <a class=" disabled" href="/blog" tabindex="-1" aria-disabled="true">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class=" dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Informacije</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07XL">
            <a class="dropdown-item" href="/contact">Kontaktirajte nas</a>
            <a class="dropdown-item" href="/dojam">Ostavite dojam</a>
           
          </div>
        </li>
        
        <li class="nav-item">
          <a class=" disabled" href="/odjavi_se" tabindex="-1" aria-disabled="true">Odjavi se</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<div class="jumbotron">

<div class="container blog mb-5  ">
   <h1 class="display-4 text-success text-center">
       Uspješno ste ostavili dojam !
   </h1>
   <h1 class="Zahvaljujemo !"></h1>
</div>
</div>